<!DOCTYPE html>
<html ng-app="iknow_app">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<head>
    <title>IKnow</title>
</head>
<body>
  Welcome to IKnow Server.
  <br/>
  Please enter a statement:
  <div ng-controller="statement_ctrl">
      <p>{{neuron1}} {{selectedItem}} {{neuron2}}</p>
      <input type="text" ng-model="neuron1" />
      <select ng-model="selectedItem">
        <option ng-repeat="relation in relations" value="{{relation.id}}">{{relation.value}}</option>
      </select>
      <input type="text" ng-model="neuron2" />  
      <button type="button" ng-click="createFact()">Merk dir das.</button>
    <table>
      <tr ng-repeat = "neuron in facts">
        <td>{{neuron.parentName}}</td>
        <td>{{neuron.relationId}}</td>
        <td>{{neuron.childName}}</td>
      </tr>
    </table>
  </div>

  <script src="./js/controller/StatementController.js"></script>
</body>
</html>
